EXPO_PUBLIC_ELEVENLABS_API_KEY=PASTE_YOUR_ELEVENLABS_API_KEY_HERE
EXPO_PUBLIC_ELEVENLABS_VOICE_ID=
EXPO_PUBLIC_CHATTERBOX_TTS_URL=
EXPO_PUBLIC_CHATTERBOX_TTS_API_KEY=
EXPO_PUBLIC_CHATTERBOX_VOICE_ID=
EXPO_PUBLIC_PIPER_WEB_BRIDGE_URL=http://127.0.0.1:8765
EXPO_PUBLIC_ENABLE_PIPER_WEB_BRIDGE=false