openapi: 3.0.0
info:
  title: Masn AAC Platform API
  description: API documentation for the Masn Augmentative and Alternative Communication (AAC) Platform
  version: 1.0.0
servers:
  - url: https://api.masn.io/v1
    description: Production server
  - url: https://staging-api.masn.io/v1
    description: Staging server

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: object

    Symbol:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        imageUrl:
          type: string
        category:
          type: string
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Board:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        layout:
          type: object
          properties:
            rows:
              type: integer
            columns:
              type: integer
        symbols:
          type: array
          items:
            $ref: '#/components/schemas/Symbol'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

paths:
  /auth/token:
    post:
      summary: Obtain authentication token
      description: Exchange credentials for a JWT access token
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer

  /symbols:
    get:
      summary: List symbols
      description: Retrieve a paginated list of AAC symbols
      tags:
        - Symbols
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: category
          schema:
            type: string
      responses:
        '200':
          description: List of symbols
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Symbol'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      pages:
                        type: integer
                      current:
                        type: integer
                      perPage:
                        type: integer

    post:
      summary: Create symbol
      description: Create a new AAC symbol
      tags:
        - Symbols
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                imageUrl:
                  type: string
                category:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
              required:
                - name
                - imageUrl
      responses:
        '201':
          description: Symbol created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Symbol'

  /boards:
    get:
      summary: List boards
      description: Retrieve a paginated list of communication boards
      tags:
        - Boards
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of boards
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Board'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      pages:
                        type: integer
                      current:
                        type: integer
                      perPage:
                        type: integer

    post:
      summary: Create board
      description: Create a new communication board
      tags:
        - Boards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                layout:
                  type: object
                  properties:
                    rows:
                      type: integer
                    columns:
                      type: integer
                symbols:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
                - name
                - layout
      responses:
        '201':
          description: Board created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'